.quote {
  color: black;
  border-radius: 6px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.quote p {
  font-size: 2.5rem;
}
.daylabel {
  margin-right: 1%;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  color: #a1e0e0;
}
.blackButton {
  margin-top: 2%;
  margin-bottom: 4%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  font-style: none;
  height: 40px;
  width: 110px;
  margin: 0 60%;
}
.blackButton:hover {
  background-color: rgba(117, 117, 117, 255);
  border: 0;
}
