.suppliersContainer {
  padding: 1rem;
  width: 100%;
  color: black;
  display: flex;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
}
.selectors {
  width: 45%;
  margin: auto;
  
}
.selectors input {
  width: 100%;
  margin: auto;
 
}


